{% extends "base.html" %}

{% block title %}
  About project author
{% endblock %}

{% load static %}
{% block content %}
<body>
  <div class = "container">
  <h2 align="center">
    <i>Hello, dear friend!I'm the author of this website, it's my first release, do not judge strictly
      <span>&#x1F609</span>
    </i>
  </h2>
  </div>
  <object 
    align="center" 
    data={% static "img/2GU.gif" %}
    height="400" 
    hspace="10"
    vspace = "10"
    width="400" 
  >
    <param name="quality" value="high">
    <param name="wmode" value="opaque">
  </object>
  <div class = "container">
    <p>
      <h3 align="center">
        A bit about myself:
      </h3>
    </p>
    <p>
      <ul>
      <li>I am new at programming and I would like to connect my life with this.</li>
      <li>
        I want to change my work field,
        become involved in the development of useful IT products and
        to be among the same motivated, inspired people.
      </li>
      </ul>
    </p>
    <p>
      <a href="https://github.com/VitaliiLuki">
        My Github link
      </a>
    </p>
  </div>
</body>
{% endblock %}