{% extends 'base.html' %}

{% block  title %}
  {{ group.title }}
{% endblock  %}

{% load thumbnail %}
{% block  content %}
<div class="container py-5">
  <h1>{{ group.title }}</h1>
  <p>{{ group.description }}</p>
  <article>
    {% for post in page_obj %}
    <ul>
      <li>
        <a href={% url 'posts:profile' post.author.username %}>
          Author: {{ post.author.username }}
        </a>
      </li>
      <li>
        Publication date: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>      
    <div class="card">
      {% thumbnail post.image "700x500" crop="left" upscale=True as im %}
      <div class="content row">
        <div class="col-md-6">
        <table width="100%" cellspacing="10" cellpadding="10">
          <tr>
            <td class="leftcol">
              <img 
                style="margin:{{ im|margin:"700x500" }}" 
                src="{{ im.url }}" 
                width="{{ im.x }}" 
                height="{{ im.y }}" 
                hspace="20">
            </td>
            <td valign="top">
              {{ post.text }}
            </td>
          </tr>
        </table>
        </div>
      </div>
      {% endthumbnail %}
    </div>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'includes/paginator.html' %}
</div>  
{% endblock  %}