{% extends 'base.html' %}

{% block  title %}
  User's profile{{ author.get_full_name }}
{% endblock  %}

{% load thumbnail %}
{% block  content %}
  <div class="container py-5">  
    <div class="mb-5">     
      <h2>All posts: {{ author }}</h2>
      <h3>Number of posts: {{ count }} </h3>  
      {% if request.user != author %} 
        {% if following %} 
        <a
          class="btn btn-lg btn-light"
          href="{% url 'posts:profile_unfollow' author.username %}" role="button"
        >
        unsubscribe
        </a>
        {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' author.username %}" role="button"
          >
          subscribe
        </a>
        {% endif %}
      {% endif %}
    </div>
    <article>
    {% for post in page_obj %}
      <ul>
        <li>
            Author: {{ post.author.get_full_name }}
          <a href="{% url 'posts:profile' author.username %}">all user posts </a>
        </li>
        <li>
          Publication date: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      <div class="card">
        {% thumbnail post.image "700x500" crop="left" upscale=True as im %}
        <div class="content row">
          <div class="col-md-6">
          <table width="100%" cellspacing="10" cellpadding="10">
            <tr>
              <td class="leftcol">
                <img 
                  style="margin:{{ im|margin:"700x500" }}" 
                  src="{{ im.url }}" 
                  width="{{ im.x }}" 
                  height="{{ im.y }}" 
                  hspace="20">
              </td>
              <td valign="top">
                {{ post.text|truncatewords:50 }}
                <p>...</p
                <p><a href="{% url 'posts:post_detail' post.id %}">Read full text</a></p>
              </td>
            </tr>
          </table>
          </div>
        </div>
        {% endthumbnail %}
      </div>
    </article>       
    {% if post.group %}
    <p>
      <a href="{% url 'posts:group_list' post.group.slug %}">All posts of the group</a>
    </p>
    {% endif%}
    <hr>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'includes/paginator.html' %}
  </div>
{% endblock %}