{% extends 'base.html' %}

{% block  title %}Changing of password{% endblock  %}

{% block  content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
             Change password
        </div>
        <div class="card-body">
          <form method="post" action={% url 'users:password_change' %}>
            {% csrf_token %}
            <div class="form-group row my-3 p-3">
              <label for="id_old_password">
                    old password
                <span class="required text-danger">*</span>
              </label>    
              <input
                autofocus class="form-control" 
                name="old_password"
                required id="id_old_password"
                type="password"  
              >
            </div>
              <div class="form-group row my-3 p-3">
                <label for="id_new_password1">
                    new password
                  <span class="required text-danger">*</span>
                </label>    
                <input type="password" name="new_password1" class="form-control" required id="id_new_password1">
                <small id="id_new_password1-help" class="form-text text-muted">
                  <ul>
                    <li>Your password must not match your name or other personal information
                        or be too similar to it.</li>
                    <li>Your password must contain 8 symbols at least.</li>
                    <li>Your password cannot be one of the commonly used passwords.</li>
                    <li>Your password can't contain only digits.</li>
                  </ul>
                </small>
              </div>
              <div class="form-group row my-3 p-3">
                <label for="id_new_password2">
                    New password confirmation
                  <span class="required text-danger">*</span>
                </label>    
                <input type="password" name="new_password2" class="form-control" required id="id_new_password2">
              </div>
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  Change password
                </button>
              </div>
          </form>
        </div>
      </div> 
    </div> 
  </div> 
</div>
{% endblock  %}