{% extends 'base.html' %}

{% block  title %}New password{% endblock  %}

{% block  content %}
{% if validlink %}
<div class="container py-5"> 
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Please enter a new password
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group row my-3 p-3">
              <label for="id_new_password1">
                New password        
                <span class="required text-danger">*</span>        
              </label>    
              <input type="password" name="new_password1" class="form-control" required id="id_new_password1">      
                <ul>
                  <li>Your password must not match your name or other personal information
                    or be too similar to it.</li>
                  <li>Your password must contain 8 symbols at least.</li>
                  <li>Your password cannot be one of the commonly used passwords.</li>
                  <li>Your password can't contain only digits.</li>
                </ul>
              </small>      
            </div>
            <div class="form-group row my-3 p-3">
              <label for="id_new_password2">
                New password confirmation       
                <span class="required text-danger">*</span>        
              </label>    
              <input type="password" name="new_password2" class="form-control" required id="id_new_password2">      
            </div>
            <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary">
                Assign a new password
              </button>
            </div>
          </form>
        </div> 
      </div> 
    </div> 
  </div> 
  {% else %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Error
        </div>
        <div class="card-body">
          <p>The password reset link is invalid or out of date.</p>
        </div> 
      </div> 
    </div> 
  </div> 
  {% endif %}
</div>
{% endblock %}